nav ul{
  list-style: none;
  padding:0;
  display:flex;
  gap:20px;
  align-items: center;
  justify-content: center;
  
}

nav ul li{
  display:inline;

}
nav ul li a{
  text-decoration: none;
  color:blue;
}

nav ul li a.active{
  font-weight: bold;
 

}